body {
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.full-height-map {
  width: 100%;
  aspect-ratio: 2/1;
  height: 100%;
}

.mini-map {
  height: 300px;
  width: 300px;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 2rem;
}

h1 {
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
  grid-column: 3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainingSelector {
  width: 4rem;
  height: 2rem;
  display: inline-block;
  margin: 1rem;
}

.emotionSelector {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin: 1rem;
}



#formSubmit {
  width: 15rem;
  font-size: 1.25rem;
  height: 3rem;
}