/* core stuff */
body {
  margin: 0;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* nav links and navbar */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
  z-index: 15;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  background-color: whitesmoke;
  border-bottom: 2px lightgray solid;
}

.navLink {
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  background-color: rgb(159, 189, 157);
  padding: 0.25rem 1rem;
  font-family: "Montserrat", serif;
}

.navLink:hover {
  opacity: 70%;
  cursor: pointer;
}

.logoset {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-self: start;
  margin: 0 2rem;
}

.logo {
  height: 5rem;
  width: 5rem;
  margin: 0 0.5rem;
}

.titleText {
  font-family: "Sour Gummy", serif;
  font-size: 2rem;
  color: rgb(52, 122, 47);
}

#formLink {
  justify-self: end;
  width: 9rem;
  margin: 0 2rem;
}

/* makes smaller, then hides the header text when used with smaller screens. 
Hidden text still visible for screenreaders */

@media screen and (max-width: 955px) {
  .titleText {
      font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .titleText {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}

/* side bar core functioning */

.sidebar {
  background-color: rgb(240, 240, 240);
  border-left: 0.1rem rgb(226, 226, 226) solid;
  position: fixed;
  width: 50%;
  right: 0;
  top: 0;
  height: 100vh;
  overflow: scroll;
  z-index: 30;
  transform: translateX(100%);
  transition: 850ms;

}

.showSidebar {
  transform: translateX(0);
  transition: 850ms;
}

/* Makes the sidebar wider, then full-screen, when using with smaller devides */

@media screen and (max-width: 955px) {
  .showSidebar {
      width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .showSidebar {
      width: 100%;
  }
}

/* maps core functioning */

.full-height-map {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

/* Form */

.sidebar-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", serif;

}

#closeForm {
  top: 2rem;
  width: 6rem;
  position: sticky;
  align-self: last baseline;
  z-index: 10000;
  font-weight: 400;
  border: white 3px solid;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: 90%;
}

form label {
  margin-top: 1rem;
  font-weight: 700;
}

form label span {
  display: block;
  font-weight: 400;
}

.required {
  font-size: 0.6rem;
  vertical-align: super;
  display: inline;
  color: rgb(185, 0, 0);
}

form h2 {
  font-family: "Sour Gummy", serif;
  font-size: 2rem;
  color: rgb(52, 122, 47);
  font-weight: 500;
  margin: 0;
}

form textarea {
  font-family: "Montserrat", serif;
  width: 80%;
  height: 4rem;
  margin: 0.5rem;
}

.label {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 700;
  display: inline;
}

.label span {
  display: block;
  font-weight: 400;
}

.label .required {
  display: inline;
}

.location-selection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1rem;
}

.mini-map {
  height: 300px;
  width: 80%;
  margin: 1rem;
  border: white 2px solid;
}

#current-location {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(245, 191, 191);
  color: black;
  cursor: pointer;
}

form button {
  font-family: "Montserrat", serif;
}

.emotionButton {
  height: 5rem;
  width: 5rem;
  display: inline flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  font-size: 2.5rem;
  border: rgb(174, 175, 174) 3px solid;
  border-radius: 50%;

}

.emotionButton:hover {
  border: rgb(159, 189, 157) 6px solid;
  cursor: pointer;

}

#formSubmit {
  width: 15rem;
  font-size: 1.25rem;
  height: 3rem;
  font-weight: 600;
}

.buttonActive {
  background-color: rgb(159, 189, 157);
  border: rgb(129, 129, 129) 3px solid;
}

.buttonInactive {
  background-color: white;
}

/* Means that you can click on the emoji and it counts as a button click */
span {
  pointer-events: none;
}

#formSubmit {
  background-color: rgb(159, 189, 157);
  margin: 1rem;
}

#formSubmit:hover {
  opacity: 70%;
  cursor: pointer;
}

/* Makes the side bar content take up more of the available space on smaller screens */

@media screen and (max-width: 955px) {

  .sidebar-content {
    padding: 2rem 1rem;
  }
  form {
    padding: 1rem 0;
    margin: 1rem 0.5rem;
  }

  .mini-map {
    width: 90%;
  }

  form textarea {
    width: 90%;
  }
  }

/* map pop-ups */

.leaflet-popup-content-wrapper {
  background-color: rgb(205, 221, 204);
  border: 5px white solid;
}

.leaflet-popup-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-family: "Montserrat", serif;
  color: rgb(59, 59, 59);
}

.leaflet-popup-content h4 {
  color: rgb(39, 63, 38);
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0.2rem;
}

.popup-feeling-container {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 3rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
  row-gap: 0;
  text-align: center;
}

.popup-feeling-container span {
  display: block;
  font-size: 2.2rem;
}

.leaflet-popup-content h5 {
  font-size: 1rem;
  color: rgb(39, 63, 38);
  font-weight: 600;
  margin: 0;
}

.popup-text-container {
  box-sizing: border-box;
  background-color: white;
  margin-top: 1rem;
  border: 2px lightgray solid;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  width: 100%;
}

.popup-text-container h2 {
  margin: 0;
  font-size: 1.2rem;
  margin: 0 0 0.5rem;
}

.popup-text-container p {
  font-size: 1rem;
  margin: 0 0 0.2rem;
}

.popup-text-container h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.leaflet-popup-close-button span {
  font-weight: 800;
} 

.deleteButton {
  align-self: center;
  margin: 0.3rem;
  background-color: rgb(145, 1, 1);
  color: white;
  font-weight: 600;
  border: 2px solid white;
  padding: 0.3rem;
}

.deleteButton:hover {
  opacity: 70%;
  cursor: pointer;
}

.leaflet-tooltip {
  background-color: white;
  font-family: "Montserrat", serif;
  opacity: 4%;
}